@import "tailwindcss";
@plugin "@toolwind/corner-shape";
@import "@heroui/styles";

* {
  corner-shape: squircle;
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(62.04% 0.195 139.85);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0039 139.85);
  --border: oklch(90% 0.0039 139.85);
  --danger: oklch(65.32% 0.2346 12.06);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.0039 139.85);
  --default-foreground: oklch(21.03% 0.0059 139.85);
  --field-background: oklch(100% 0.0019 139.85);
  --field-foreground: oklch(21.03% 0.0039 139.85);
  --field-placeholder: oklch(55.17% 0.0078 139.85);
  --focus: oklch(62.04% 0.195 139.85);
  --foreground: oklch(21.03% 0.0039 139.85);
  --muted: oklch(55.17% 0.0078 139.85);
  --overlay: oklch(100% 0.0012 139.85);
  --overlay-foreground: oklch(21.03% 0.0039 139.85);
  --scrollbar: oklch(87.1% 0.0039 139.85);
  --segment: oklch(100% 0.0039 139.85);
  --segment-foreground: oklch(21.03% 0.0039 139.85);
  --separator: oklch(92% 0.0039 139.85);
  --success: oklch(73.29% 0.195 137.13);
  --success-foreground: oklch(21.03% 0.0059 137.13);
  --surface: oklch(100% 0.0019 139.85);
  --surface-foreground: oklch(21.03% 0.0039 139.85);
  --surface-secondary: oklch(95.24% 0.0031 139.85);
  --surface-secondary-foreground: oklch(21.03% 0.0039 139.85);
  --surface-tertiary: oklch(93.73% 0.0031 139.85);
  --surface-tertiary-foreground: oklch(21.03% 0.0039 139.85);
  --warning: oklch(78.19% 0.1597 58.65);
  --warning-foreground: oklch(21.03% 0.0059 58.65);

  /* Border Radius */
  --radius: 0.25rem;
  --field-radius: 0.5rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(62.04% 0.195 139.85);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0.0039 139.85);
  --border: oklch(28% 0.0039 139.85);
  --danger: oklch(59.4% 0.1982 10.95);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.0039 139.85);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0078 139.85);
  --field-foreground: oklch(99.11% 0.0039 139.85);
  --field-placeholder: oklch(70.5% 0.0078 139.85);
  --focus: oklch(62.04% 0.195 139.85);
  --foreground: oklch(99.11% 0.0039 139.85);
  --muted: oklch(70.5% 0.0078 139.85);
  --overlay: oklch(21.03% 0.0078 139.85);
  --overlay-foreground: oklch(99.11% 0.0039 139.85);
  --scrollbar: oklch(70.5% 0.0039 139.85);
  --segment: oklch(39.64% 0.0039 139.85);
  --segment-foreground: oklch(99.11% 0.0039 139.85);
  --separator: oklch(25% 0.0039 139.85);
  --success: oklch(73.29% 0.195 137.13);
  --success-foreground: oklch(21.03% 0.0059 137.13);
  --surface: oklch(21.03% 0.0078 139.85);
  --surface-foreground: oklch(99.11% 0.0039 139.85);
  --surface-secondary: oklch(25.7% 0.0058 139.85);
  --surface-secondary-foreground: oklch(99.11% 0.0039 139.85);
  --surface-tertiary: oklch(27.21% 0.0058 139.85);
  --surface-tertiary-foreground: oklch(99.11% 0.0039 139.85);
  --warning: oklch(82.03% 0.1399 62.66);
  --warning-foreground: oklch(21.03% 0.0059 62.66);
}
